#github-projects div {
  background: #fefefe;
  padding: 15px;
  border-left: 4px solid #f9d342;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
#github-projects h3 a {
  color: #333;
  text-decoration: none;
}
#github-projects h3 a:hover {
  color: #f9d342;
}


